@model IEnumerable<UploadFileTesting.Models.FileUpload>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload New File", "UploadFile")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.FileId }) |*@
            @Html.ActionLink("Download File", "FileDownload", new { id=item.FileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileId })
        </td>
    </tr>
}

</table>
